{% extends 'base.html' %}
{% block content %}
<!--    Start Contact Us area   -->
<section id="contact" style="padding-top: 15px; text-align: center;">
    <div>
      <h1 style="color: aqua; font-size: 35px; padding-top: 15px;"> Contact Us </h1>
    </div>
    </br>
    <h3 style="margin-right: 1200px;"> Address: </h3>
    </br>
    <article style="text-align: left; padding-left: 40px;">
        <span> 7/9, 7th floor, Babbage Appartments </span> </br>
        <span> Stoney Lane, Opposite Bezos Manison </span> </br>
        <span> Santa Clara, California, USA </span> </br>
        <span> Zipcode: 95050 </span>
    </article> 
    </br></br>
    <article style="text-align: left; padding-left: 40px;">
        <span> <b>Telephone No.</b> +1 408-615-9007 &emsp;</span>
        <span> <b>Mobile No.</b> 408-652-9007 </span>
    </article>
</section>
{% endblock %}