{% extends 'base.html' %}
{% block content %}
  <!-----------------------------------------  Home Page  ----------------------------------------->
    <section>
        <style>
            .main {
                    width: 100%;
                    background: linear-gradient(90deg, #FF930F 0%, #FFF95B 100%);
                    color: blueviolet;
                    padding: 10px;
                    font-size: 25px;
                    text-align: center;
            }
        </style>
        <h1 class = "main"> <b> Welcome to Amshekh Labs pvt ltd </b> </h1>
        </br></br>
        <article 
            <h1 style="font-size: 20px; padding-left: 15px;"> <b> Introduction </b> </h2>
            </br>    
            <p style="padding-top: 15px; padding-bottom: -25px; font-size: 16px;">
                Amshekh labs is a tech initiative by indian-orgin entrepreneur Amit Shekhar to provide software based tech solutions to tech as well as non-tech companies all over the world remotely.
                He is a engineering graduate in Computer Science.To be precise, he holds a degree of Bachelor of Technology in Computer Science & Engineering form a leading private college in India.
                Our software services vary from proprietary to open-source as well as customized software solutions suitable to all types of companies.Our head office is based in California, USA.
                We deliver best software solutions at appropirate charges as per industry standards.Moreover we also provide corporate training to train your employees in latest technologies.
                So what are you waiting for?
                Order now!!!
            </p>
            <h4 style="color: aqua; padding-top: 10px; padding-bottom: -15px;"> Quick links </h4>
            </br>
            <span> <a> proprietary software solutions </a> &emsp; <a> open-source software solutions </a> &ensp; <a> customized software solutions </a> </span>
        </article>
        
    </section>
{% endblock %}